/* BTN SHOP NOW */
.cta2 {
    border: none;
    background-color: black;
    cursor: pointer;
    margin-top: 42%;
    padding: 8px 10px;
    border-bottom-left-radius: .5em;
  }
  
  .cta {
    border: none;
    background-color: black;
    cursor: pointer;
    margin-top: 84%;
    padding: 8px 10px;
    border-bottom-left-radius: .5em;
  }
  
  .cta span,.cta2 span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg,.cta2 svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    filter: invert(100);
  }
  
  .cta:hover svg,.cta2:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg,.cta2:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #ffffff;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after,.cta2:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

/* BTN ADD CART */
.buy_button {
    margin-left: 120px;
    margin: .5em auto .5em 115px;
    width: 120px;
    height: 40px;
    border: none;
    align-items: center;
    color: white;
    font-weight: 500;
    background-color: rgb(29, 29, 29);
    transition: .5s ease;
    cursor: pointer;
    border-radius: 5px;
  }
  .buy_button:hover{
    background: #000;
    transition: .5s ease;
  }

/* BTN LEFT */
  .btn_left{
    font-size: 12px;
    padding: 0 2px;
    cursor: pointer;
    transition: .2s ease;
  }
  .btn_left:hover{
    color: gray;
    font-size: 12px;padding: 0 2px; cursor: pointer;
  }

  /* BTN RIGHT */
  .btn_right{
    font-size: 12px;
    padding: 0 2px;
    cursor: pointer;
    transition: .2s ease;
  }
  .btn_right:hover{
    color: gray;
    font-size: 12px;padding: 0 2px; cursor: pointer;
  }