/* BODY */
body {
  margin: 0;
}

/* SECTION 1 */
.s1{
  width: 96%;
  margin-inline: auto;
  display: flex;
}

/* SLIDER */
.cont_slider{
  overflow: hidden;
  border-radius: 1em;
  margin-left: -6px;
  margin-top: 75px;
}
.slider {
  display: flex;
  height: 30em;
}
.slider_img img{
  width: 62em;
  height: 32em;
}

/* BARRA LATERAL */
.mostWanted{
  background: #b3b2b29e;
  margin-left: 1em;
  border-radius: .5em;
  margin-top: 70px;
}
.mostWanted ul{
  margin-top: 0;
  padding: 0;
}
.mostWanted li,p{
  flex-direction: column;
  list-style: none;
  padding: 1em 5em 1em 5em;
}
.mostWanted li:hover{
  background: #0000002a;
  cursor: pointer;
}

/* APARTADOS DE PRODUCTOS */
.line1{
  margin-top: .5em;
  display: flex;
  width: 98%;
  margin-inline: auto;
}
.line2{
  display: flex;
  width: 98%;
  margin-inline: auto;
}
.p1{
  width: 25%;
  height: 280px;
  margin: 1em;
  border-radius: .5em;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .5s ease;
}
.p1:hover{
  transform: translateY(-.5em);
  transition: .5s ease;
  /* animation: offert 1s infinite ease; */
}
.p2 {
  width: 50%;
  height: 280px;
  margin: 1em;
  background-size: cover;
  border-radius: .5em;
  background-repeat: no-repeat;
  transition: .5s ease;
}
.p2:hover{
  transform: translateY(-.5em);
  transition: .5s ease;
}
@keyframes offert {
  0%{
    transform: translateY(0em);
  }
  50%{
    transform: translateY(-.5em);
  }
  100%{
    transform: translateY(0em);
  }
}

/* DISTRIBUTION */
.distribution{
  margin-top: 2em;
  width: 96%;
  display: flex;
  margin-inline: auto;
}
.steps{
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-inline: 1em;
  border-radius: 2em;
  transition: .5s ease; 
}
.steps:hover{
  background: rgba(128, 128, 128, 0.187);
  transition: .5s ease;
}
.steps i{
  color: red;
  font-size: 2.2em;
  padding: .5em;
}
.info h1{
  text-align: left;
  font-size: 1em;
  margin: 0;
}
.info p{
  padding: 0;
  margin: 0;
  font-weight: 200;
  color: gray;
}

/* SECTION 3 */
.titles3{
  text-align: center;
}
.s3{
  margin-top: 4em;
  width: 94%;
  margin-inline: auto;
}

/* CARD BETTER SELLER PRODUCTS */
#product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.betterPro{
  width: 94%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2em;
}
.product {
  width: 15em;
  cursor: pointer;
  border: 1px solid #80808059;
  border-radius: .5em;
  padding: 10px;
  margin: .5em 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
.img_product {
  height: 15em;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }
 .img_product:hover {
  transform: translateY(-4%);
 }
 .name_product {
  padding-top: 5px;
  font-weight: 300;
  padding: 0 5px;
  text-align: center;
 }
 .price {
  font-weight: 900;
  color: rgb(236, 0, 0);
  position: absolute;
  padding: .5em 1em 1em;
 }

 /* PARTNERS */
 .partners{
  filter: grayscale(100%);
  opacity: .5;
  width: 95%;
  margin: 0 auto;
  background: white;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  border-top: 1px solid rgba(128, 128, 128, 0.416);
}
.partners img{
  width: 5em;
  margin: 2em 0;
}